<!doctype html>
<html ng-app="myModule">
<head>
    <title>Title</title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/script_method_chaining.js"></script>
</head>
<body>
    <div ng-controller="myController">
        <p>1. Using data binding to display the values from controller</p>
       <div> FirstName: {{employee.firstName}}</div>
        <div>LastName: {{employee.lastName}}</div>
        <div>Gender: {{employee.gender}}</div>
    </div>
    <hr />
    <div ng-controller="myFlagController">
        <p>2. Using data binding to display the images</p>
        <div>Country: {{country.name}}</div>
        <div>Capital: {{country.capital}}</div>
        <img ng-src="{{country.flag}}" style="height: 100px; width: 200px;" alt="{{ country.name  + 'Flag' }}"/>
    </div>
<hr />
<div ng-controller="twoWayDataBinding">
    <p>3. Using Two way Data Binding</p>
    <input type="text" ng-model="message" />
    <br /><br />
    {{ message }}
    <p>=====</p>

    <input type="text" ng-model="greetings" />
    <br /><br />
    {{ greetings }}
</div>
    <hr />
<div ng-controller="ngRepeatExample">
    <p>ng-repeat example(similar to foreach loop)</p>

    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.salary}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div ng-controller="ngRepeatNestedArray">
    <p>ng-repeat nested array</p>
    <ul>
        <li ng-repeat="country in countries">
            {{country.name}} - Index = {{$index}}
            <ul>
               <li ng-repeat="city in country.cities">
                   {{city.name}} - Parent Index = {{$parent.$index}} Index = {{$index}}
               </li>
            </ul>
        </li>
    </ul>
</div>
<hr />
<div ng-controller="EventHandling">
    <p>Event Handling</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Buttons</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="technology in technologies">
                <td>{{technology.name}}</td>
                <td>{{technology.likes}}</td>
                <td>{{technology.dislikes}}</td>
                <td>
                    <input type="button" value="Like" ng-click="incrementLikes(technology)"/>
                    <input type="button" value="Dislike" ng-click="incrementDislikes(technology)"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    <hr />

<div ng-controller="Filter">
    <p>AngularJS Filters :uppercase, date, lowercase, number, currency, limitTo</p>
    <p>filter, json, orderBy</p>

    Rows to Display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit" />
    <br /><br />
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Salary (number)</th>
                <th>Salary (currency)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees | limitTo:rowLimit">
                <td>{{employee.name | uppercase}}</td>
                <td>{{employee.dateOfBirth | date: "dd/MM/yyyy" }}</td>
                <td>{{employee.gender | lowercase}}</td>
                <td>{{employee.salary | number:2}}</td>
                <td>{{employee.salary | currency:"Rs. ":1}}</td>
            </tr>
        </tbody>
    </table>

</div>
<hr /> <br /><br /><br />
<div ng-controller="OrderBy">
    <p>AngularJS Filters: orderBy</p>
    <br />
    Order By:
    <select ng-model="sortColumn">
        <option value="name">Name Asc</option>
        <option value="DateOfBirth">DOB Asc</option>
        <option value="gender">Gender Asc</option>
        <option value="-salary">Salary Asc</option>
    </select>
    <br />
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees|orderBy: sortColumn:false">
            <td>{{employee.name | uppercase}}</td>
            <td>{{employee.dateOfBirth | date: "dd/MM/yyyy" }}</td>
            <td>{{employee.gender | lowercase}}</td>
            <td>{{employee.salary}}</td>
        </tr>
        </tbody>
    </table>
</div>

    <hr />
    <div ng-controller="sortingByTableHeader">
        <style>
            .arrow-up {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 10px solid black;
                display: inline-block;
            }
            .arrow-down {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 10px solid black;
                display: inline-block;
            }

            th, td {
                border: 1px solid #000;
                margin: 0;
                padding: 10px;
            }


            table {
                border: 1px solid #000;
                border-spacing: 0;

            }
        </style>
        <p>AngularJS Sorting | sorting on the basis of table header</p>
        <table>
            <thead>
                <tr>
                    <th ng-click="sortData('name')">Name <div ng-class="getSortClass('name')"></div></th>
                    <th ng-click="sortData('dateOfBirth')">Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div></th>
                    <th ng-click="sortData('gender')">Gender <div ng-class="getSortClass('gender')"></div></th>
                    <th ng-click="sortData('salary')">Salary <div ng-class="getSortClass('salary')"></div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees|orderBy:sortColumn:reverseSort">
                    <td>{{employee.name | uppercase}}</td>
                    <td>{{employee.dateOfBirth | date: "dd/MM/yyyy" }}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>



    <br /><br /><br /><br /><br /><br /><br /><br />

    <div ng-controller="testRegex">
        <h1>Test regex</h1>

        {{text}}

    </div>
</body>
</html>